<h2>Your gossip was correctly saved<h2>

<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @gossip.text %>
</p>

<%= link_to 'Edit', edit_gossip_path(@gossip) %> 
<%= link_to 'Back', welcome_index_path %>