<h2>Congratulations your gossip was correctly saved<h2>

<p>
  <strong>Title:</strong>
  <%= @gossip.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @gossip.text %>
</p>

<%= link_to 'Back', welcome_index_path %>